div.cneter {
  height: 20em;
  display: flex;
  align-items: center;
  justify-content: center }
div.center p {
  margin: 0 }


@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-Light.eot');
	src: url('fonts/Rosario/Rosario-Light.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-Light.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-Light.woff') format('woff'),
		 url('fonts/Rosario/Rosario-Light.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-LightItalic.eot');
	src: url('fonts/Rosario/Rosario-LightItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-LightItalic.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-LightItalic.woff') format('woff'),
		 url('fonts/Rosario/Rosario-LightItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 300;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-Regular.eot');
	src: url('fonts/Rosario/Rosario-Regular.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-Regular.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-Regular.woff') format('woff'),
		 url('fonts/Rosario/Rosario-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-Italic.eot');
	src: url('fonts/Rosario/Rosario-Italic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-Italic.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-Italic.woff') format('woff'),
		 url('fonts/Rosario/Rosario-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-SemiBold.eot');
	src: url('fonts/Rosario/Rosario-SemiBold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-SemiBold.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-SemiBold.woff') format('woff'),
		 url('fonts/Rosario/Rosario-SemiBold.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-SemiBoldItalic.eot');
	src: url('fonts/Rosario/Rosario-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-SemiBoldItalic.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-SemiBoldItalic.woff') format('woff'),
		 url('fonts/Rosario/Rosario-SemiBoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 600;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-Bold.eot');
	src: url('fonts/Rosario/Rosario-Bold.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-Bold.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-Bold.woff') format('woff'),
		 url('fonts/Rosario/Rosario-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Rosario';
	src: url('fonts/Rosario/Rosario-BoldItalic.eot');
	src: url('fonts/Rosario/Rosario-BoldItalic.eot?#iefix') format('embedded-opentype'),
		 url('fonts/Rosario/Rosario-BoldItalic.woff2') format('woff2'),
		 url('fonts/Rosario/Rosario-BoldItalic.woff') format('woff'),
		 url('fonts/Rosario/Rosario-BoldItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 700;
}
